<div class="alert <%= locals.alertClass %>">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong class="alert-type"><%= locals.type %></strong>
        <span class="alert-message"><%- locals.message %></span>
    </div>