<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Assets Management</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
        integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
    <style>
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: white;
        }

        li {
            float: left;
        }

        li a {
            display: block;
            color: black;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        li a:hover {
            background-color: #ffffff;
        }
    </style>
</head>

<body>
    <ul>
        <li><a href="./form">Home</a></li>
        <li><a href="./import">Import</a></li>
        <li><a href="./search">Search</a></li>
        <li><a href="./ret">Existing Data</a></li>
    </ul>
    <%- locals.flash %>
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto" id="cardetails">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <legend>System Details</legend>
                        <form action="/upload" method="POST" enctype="multipart/form-data">
                            <div class="custom-file mb-3">
                                <input type="file" name="file" id="file" class="custom-file-input">
                                <label for="file" class="custom-file-label">Import excel file</label>
                            </div>
                            <input type="submit" value="Import" class="btn btn-primary">
                            <input type="submit" formaction="/export" value="Export Full Data" class="btn btn-primary">
                        </form>
                        <hr>
                        <legend>Query</legend>
                        <form action="/query" method="POST">
                            <div class="form-group">
                                <select class="form-control query" name="examplequery" id="examplequery"
                                    onchange='query(this.value);' autocomplete="off">
                                    <option value="" disabled selected>Select</option>
                                    <option value="hostname">Hostname</option>
                                    <option value="snumber">Serial Number</option>
                                    <option value="asset">Asset Type</option>
                                </select>
                            </div>
                            <input type="text" class="form-control query_h" name="query_h" id="query_h"
                                placeholder="Enter Hostname" style='display:none;' />
                            <input type="text" class="form-control query_s" name="query_s" id="query_s"
                                placeholder="Enter Serial Number" style='display:none;' />
                            <select class="form-control query_a" name="query_a" id="query_a" autocomplete="off"
                                style="display: none" onchange='query_mod(this.value);'>
                                <option value="" disabled selected>Select</option>
                                <option value="Desktop">Desktop</option>
                                <option value="Laptop">Laptop</option>
                                <option value="Printer">Printer</option>
                                <option value="Tablet">Tablet</option>
                                <option value="Server">Server</option>
                                <option value="WorkStation">WorkStation</option>
                            </select>
                            <input type="text" class="form-control query_m" name="query_m" id="query_m"
                                autocomplete="off" placeholder="Enter Model (Optional)" style="display: none">
                            <br>
                            <input type="submit" value="Query" class="btn btn-primary">
                        </form>
                    </div>
                </div>
            </div>
            <table class="table table-bordered table-striped" id="capax_det">
                <tr>
                  <th>serialNumber</th>
                  <th>asset_type</th>
                  <th>sapCode</th>
                  <th>materialCode</th>
                  <th>materialQuantity</th>
                  <th>poDate</th>
                  <th>poNum</th>
                  <th>invoiceDate</th>
                  <th>invoiceNumber</th>
                  <th>receiveDate</th>
                  <th>proccessor</th>
                  <th>hardisk</th>
                  <th>ram</th>
                  <th>model</th>
                  <th>modelDesp</th>
                  <th>summit</th>
                </tr>
              </table>
        </div>
    </div>

    <script>
        $('#file').on('change', function () {
            //get the file name
            var fileName = $(this).val().replace('C:\\fakepath\\', " ");
            //replace the "Choose a file" label
            $(this).next('.custom-file-label').html(fileName);
        })
    </script>
    <script type="text/javascript">
        function query(val) {
            var element = document.getElementById('query_h');
            if (val == 'hostname')
                element.style.display = 'block';
            else
                element.style.display = 'none';

            var element = document.getElementById('query_s');
            if (val == 'snumber')
                element.style.display = 'block';
            else
                element.style.display = 'none';

            var element = document.getElementById('query_a');
            if (val == 'asset')
                element.style.display = 'block';
            else
                element.style.display = 'none';
        }
    </script>
    <script type="text/javascript">
        function query_mod(val) {
            console.log('hello');
            var element = document.getElementById('query_m');
            if (val == 'Desktop' || 'Laptop' || 'Printer' || 'Tablet' || 'Server' || 'WorkStation') {
                element.style.display = 'block';
            }
            else {
                element.style.display = 'none'
            }

        }
    </script>
</body>

</html>